$green-color: #022C14;
$white: #C0CAC4;
$offset: 97px;

@font-face{
    font-family: "GT Haptik";
    src: url("../fonts/GT-Haptik-Medium.otf")
}
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');


//Utilities

.row{
    display: flex;
}


body{
    margin: 0;
    padding: 0;
    background: $green-color;
    font-family: "Karla", sans-serif;
    font-weight: normal;
}



.landing{
    color: #c0cac4;
    margin-top: 35vh;
    visibility: hidden;
    
    h1{
        font-size: 58px;
        font-family: "GT Haptik";
        font-weight: 500;
        overflow: hidden;
        span{
            display: inline-block;
        }
    }
    content{
        margin-top: -50px;
        p{
      
            line-height: 28px;
            font-weight: 200;
        }
    } 
}

.main-header{
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 85px;
}

.inner{
        max-width: 600px;
        margin-left: calc(25% + 97px);
    }

.inner-offset{
    width: 97px;
    flex-shrink: 0;
    text-align: left;
    hr{
        width: 70px;
        margin-top: 30px;
        margin-left: 0;
        border: none;
        background: white;
        height: 1px;
        
    }
}

.social-icons{
    a{
        display: inline-block;
        margin-right: 15px;
        &:last-child{
            margin-right: 0;
        }
    }
}


.overlay-menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    color: $green-color;
    background: rgba($color: black, $alpha: 0.45);
    z-index: 10;
    visibility: hidden;
    // opacity: 0;
    transform: translateX(100%);
   
   $profile-size: 60%;
    .profile{
        background: $white;
        width: 25%;
        padding-left: 97px;
        a{color: $green-color;}
        // 97px + 45px (height of the menu icon)
        padding-top: 142px;

        line-height: 28px;
        .contact{
            padding: 28px 0 0 28px;
            .social-icons{
                display: block;
                margin-top: 5px;
            }
            .cv{
                align-items: center;
                img{
                    margin-left: 10px;
                }
            }
        }
        .picture img{
            box-shadow: 8px 8px 0px #022C14;
        }
    }
    .resume{
        width: 460px;
        background: $white;
        hr{
            width: 35px;
            background: $green-color;
            height: 1px;
            border: none;
            flex-shrink: 0;
            margin-top: 15px;
            margin-right: 20px;
        }
        .work{
            margin-block-end: 0.5em;
            div{

            flex-grow: 1;
            flex-shrink: 1;
            p{
                margin-block-start: 0.3em;
            }
            }
        }
        h2{
            font-family: "GT Haptik";
            font-weight: normal;
            margin-block-start: 0;
            margin-block-end: 0em;
        }
        
    }
}

//Mobile

@media  (max-width: 468px){
    body{
        font-size: 14px;
    }
    .main-header {img{width: 35px;}}
    .inner{
        margin-left: 58px;
        margin-right: 90px;
    }
    .landing{
        margin-top: 20vh;
        content p {line-height: 24px;}
        h1{
        font-size: 28px;
      
    }}
    footer.social-icons{
        margin-top: 30px;
        a{margin-right: 20px;}
        img{
            width: 14.23px;
        }
    }
    .inner-offset{
        width: 46px; 
        hr{
            width: 35px;
            margin-top: 25px;
        }
        }

        .overlay-menu{
            flex-direction: column;
            overflow-x: hidden;
            overflow-y: auto;
            background: $white;
            .profile{
                padding-left: 58px;
                width: auto;
            }
            .resume{
                margin-top: -1px;
                padding-left: 58px;
                
                padding-bottom: 2em;
                hr{width: 18px;}
            }
        }
}